body{
    background-image: url(choco.jpg);
    background-size: cover;
}
.bg-light {
    height: 29rem !important;
    width: 15rem !important;
    background-color: aqua;
    margin-top: 5rem !important;
}

.head {
    text-align: center;
    font-size: large;
    font-family: cursive;
    color: orange;
}
.card{
    margin: 10px;
}
.row{
    text-align: center;
    justify-content: center;
}